body {
  background: white;
  color: black;
  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


form {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset {
  border: 0;
}

input.error {
  background: #FAFF78;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura-CondensedExtraBold', 'Futura', 'Helvetica', sans-serif;
  text-transform: uppercase;
}


.navigation a {
  color: #489A00;
}

.navigation a:hover {
  color: #65C70F;
}

.footer {
  background: none repeat scroll 0% 0% #333;
}

.required {
  color: #1D6503;
}

.advisory {
  color: #9F8501;
}

.deprecated {
  color: #B03838;
}

.removed {
  color: #801601;
}

.checkbox {
  word-spacing: 20px;
  background: #F8F8F8;
  padding: 10px;
}

.capabilities {
  color: #4B4B4B;
}

.capabilities a {
  cursor: pointer;
}

.capabilities .capability-list-item {
  border-bottom: 2px solid #AFAFAF;
  padding-bottom: .6em;
}

.capabilities .capability-name {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}

.list-inline li:before {
  content: '\00BB';
}
