<html>
    <head>
        <title>${self.title()}</title>
        ${self.style()}
        ${self.javascript()}
    </head>
    <body>
        ${self.nav()}
        ${self.body()}
        ${self.footer()}
    </body>
</html>

<%def name="title()">
    Refstack UI
</%def>

<%def name="style()">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</%def>

<%def name="javascript()">
</%def>

<%def name="nav()">
    <div class="navigation">
        <a href="/">Home</a> | 
        <a href="/results">Results</a>
    </div>
</%def>

<%def name="footer()">
    <div class="footer">

    </div>
</%def>

