<h3>DefCore Capabilities</h3>
<strong>Version:</strong>
<select ng-model="version" ng-change="update()">
    <option value="2015.03">2015.03</option>
</select>
<br /><br />
<strong>Target Program:</strong>
<select ng-model="target" >
    <option value="platform">OpenStack Powered Platform</option>
    <option value="compute">OpenStack Powered Compute</option>
    <option value="object">OpenStack Powered Object Storage</option>
</select>
<br /><br />

<strong>Capability Status:</strong>
<div class="checkbox">
    <label>
    <input type="checkbox" ng-model="status.required" ng-true-value="'required'" ng-false-value="''"> 
    <span class="required">Required</span>
    </label>
    <label>
    <input type="checkbox" ng-model="status.advisory" ng-true-value="'advisory'" ng-false-value="''">
    <span class="advisory">Advisory</span>
    </label>
    <label>
    <input type="checkbox" ng-model="status.deprecated" ng-true-value="'deprecated'" ng-false-value="''">
    <span class="deprecated">Deprecated</span>
    </label>
    <label>
    <input type="checkbox" ng-model="status.removed" ng-true-value="'removed'" ng-false-value="''">
    <span class="removed">Removed</span>
    </label>
</div>

<br />

<ol class="capabilities">
  <li class="capability-list-item" ng-repeat="capability in capabilities.capabilities | arrayConverter | filter:filterProgram | filter:filterStatus">
    <span class="capability-name">{{capability.name}}</span><br />
    <em>{{capability.description}}</em><br />
    Status: <span class="{{capability.status}}">{{capability.status}}</span><br />
    <em><a ng-click="showAchievements = ! showAchievements">Achievements ({{capability.achievements.length}})</a></em><br />
        <ol ng-show="showAchievements" class="list-inline">
            <li ng-repeat="achievement in capability.achievements">
                {{achievement}}
            </li>
        </ol>
    
    <em><a ng-click="showTests = ! showTests">Tests ({{capability.tests.length}})</a></em>
    <ul ng-show="showTests">
        <li ng-repeat="test in capability.tests">
            {{test}}
        </li>
    </ul>
  </li>
</ol>
<hr>
<a ng-click="toggleJson = !toggleJson">Show JSON</a>
<div ng-show="toggleJson" id="jsonCapabilities">
    <pre>{{capabilities | json}}</pre>
</div>
<br /><br />
